.Dark .list {
    margin-top: 4em;
}
.Dark .list ul {
    list-style-type: none;
}
.Dark .cont_desc {
    display: flex;
    justify-content: space-between;
}
.Dark .img {
    margin-bottom: 0em;
    padding: 0em;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.2s ease;
}
.Dark .img:hover {
    filter: sepia(30%);
    width: 102%;
    height: 102%;
}
.Dark .cont_img {
    border-radius: 5px;
    height: 200px;
    width:  100%;
    overflow: hidden;
}