@media screen and (min-width:320px) {
    .Dark .cont_left {
        display: none;
    }
}
@media screen and (min-width:768px) {
    .Dark .cont_left {
        display: block;
        width: 90%;
        border-radius: 10px;
        box-shadow: 1px 1px 4px #c7c7c7;
        padding: 1em;
        margin: 3em auto 0em auto;
    }
    .Dark .list_categories {
        list-style-type: none;
        padding: 0.6em;
    }
    .Dark .list_categories a {
        text-transform: capitalize;
        margin-bottom: 0.9em;
        width: 100%;
        text-align: left;
        text-decoration: none;
        color: #000;
    }
}