.title {
    text-transform: capitalize;
    padding: 0.6em;
}
.list {
    list-style-type: none;
    padding: 1em;
}
.list li {
    box-shadow: 1px 1px 4px #000;
    margin: 1em 0em;
    padding: 1em;
}
.link {
    color: #000;
}