.title {
    text-transform: capitalize;
    padding: 0.6em;
}
.list {
    list-style-type: none;
    padding: 1em;
}
.list li {
    border-bottom: 1px solid #000;
    margin: 1em 0em;
    padding: 1em;
    border-radius: 5px;
}
.link {
    color: #000;
}
.cont_link {
    text-decoration: none;
    color: #000;
}
.img {
    width: 100%;
}
.flex_center {
    height: 100%;
    display: flex;
    align-items: center;
}