.Dark .btn_finalizar, .Light .btn_finalizar {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: #ffffff;
    padding: 1em;
    border-radius: 10px;
    background-color: #000000;
    margin: 1em 0em;
    font-size: 1.1em;
    transition: 0.2s ease;
    transform-origin: right;
}
.Dark .btn_finalizar_disabled {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: #ffffff;
    padding: 1em;
    border-radius: 10px;
    background-color: #6e6e6e;
    margin: 1em 0em;
    font-size: 1.1em;
    transition: 0.2s ease;
    transform-origin: right;
    border: none;
}
.Dark .btn_finalizar:hover {
    background-color: #585858;
    font-size: 1em;
    width: 98%;
}
.Dark {
    padding: 1em;
}
.Dark h4 {
    margin-bottom: 2em;
}
/*Light*/
.Light {
    box-shadow: 1px 1px 4px #c7c7c7;
    border-radius: 20px 20px 0px 0px;
    padding: 0.7em;
}
.Light .btn_finalizar {
    background-color: rgb(255, 0, 0);
}