
@media screen and (min-width:320px) {
    .Dark .list {
        margin-top: 4em;
    }
    .Dark .list ul {
        list-style-type: none;
    }
    .Dark .list ul li {
        margin-bottom: 2em;
    }
    .Dark .li {
        position: relative;
        padding: 0em;
        margin: 0em;
    }
    .Dark .cont_desc {
        width: 100%;
        background-color: #070707b2;
        position: absolute;
        padding: 0.7em;
        bottom: 0em;
        color: #fff;
        left: 0em;
        z-index: 800;
        border-radius: 0px 0px 5px 5px;
        font-family: 'Libre Baskerville', serif;
    }
    .Dark .input {
        display: none;
    }
    .Dark .img {
        margin-bottom: 0em;
        padding: 0em;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: 0.2s ease;
        object-fit: cover;
    }
    .Dark .img:hover {
        filter: sepia(80%);
        filter: brightness(90%);
    }
    .Dark .cont_img {
        border-radius: 5px;
        width:  100%;
    }
    .Light .list {
        list-style-type: none;
        padding: 0em 0em;
    }
    .Light .img {
        width: 100%;
        height: 100%;
    }
    .Light .list .item {
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 1px 1px 4px #bbbbbb;
        margin-bottom: 1.5em;
        position: relative;
    }
    .Light .list .item .cont_text {
        padding: 0.8em;
    }
    .Light .cont_buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .Light .nome_prod {
        margin-bottom: 0.2em;
        text-transform: capitalize;
        font-size: 1.1em;
        font-family: 'Open Sans', sans-serif;
    }
    .Light .desc_prod {
        margin-bottom: 0.2em;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9em;
        color: #616161;
    }
    .Light .preço_prod {
        font-size: 1.1em;
        font-weight: 600;
        margin-bottom: 0.2em;
        font-family: 'Noto Sans', sans-serif;
    }
    .Light .cont_buttons a{
        padding: 0.4em;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        text-decoration: none;
        color: #000;
        width: 80%;
        background-color: rgb(255, 0, 0);
        color: #fff;
    }
    .Light .cont_buttons button {
        border: none;
        border-radius: 5px;
        font-size: 1.1em;
    }
    .Light .cont_img {
        width: 100%;
        height: 100px;
    }
    .no_padding_no_margin {
        margin: 0em;
        padding: 0em;
    }
}
@media screen and (min-width:576px) {
    .Dark .cont_img {
        border-radius: 5px;
        height: 400px;
        width:  100%;
        overflow: hidden;
    }
    .Dark .input {
        display: block;
    }
    .Light .cont_img {
        width: 100%;
        height: 200px;
    }
}