
@media screen and (min-width:320px) {
    .container {
        width: 99%;
        margin: 2em auto;
        background-color: #fafafa;
        padding: 1.5em;
        box-shadow: 1px 1px 4px #00000063;
    }
    .container h4 {
        margin-bottom: 1em;
    }
    .dados {
        margin-bottom: 2em;
    }
    .form label {
    display: block;
    }
    .form input {
        width: 100%;
        margin-bottom: 0.6em;
    }
    .cont_dashed_no_padding {
        width: 100%;
        border: 1px dashed #c7c7c7;
        padding: 0.3em;
    }
    .title_small {
        font-size: 0.8em;
        font-weight: 600;
    }
    .cont_save {
        display: flex;
        justify-content: flex-end;
    }
    .cont_save button {
        padding: 0.3em 1em;
        border: none;
        margin: 1em 0em;
        background-color: #ff9100;
        color: #fff;
    }
    .disabled {
        background-color: #c7c7c7 !important;
    }
}
@media screen and (min-width:576px) {
    .container {
        width: 60%;
    }
}