.img {
    width: 100%;
}
.Light .list {
    list-style-type: none;
    padding: 0em 0em;
}
.Light .list .item {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 4px #bbbbbb;
    margin-bottom: 1.5em;
    position: relative;
}
.Light .list .item .cont_text {
    padding: 0.8em;
}
.Light .cont_buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Light .nome_prod {
    margin-bottom: 0.2em;
    text-transform: capitalize;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
}
.Light .desc_prod {
    margin-bottom: 0.2em;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    color: #616161;
}
.Light .preço_prod {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0.2em;
    font-family: 'Noto Sans', sans-serif;
}
.Light .cont_buttons a{
    padding: 0.4em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    width: 80%;
    background-color: rgb(255, 0, 0);
    color: #fff;
}
.Light .cont_buttons button {
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
}
.no_padding_no_margin {
    margin: 0em;
    padding: 0em;
}