.container_header {
    width: 100%;
    background-color: #FF9100;
    color: #fff;
}
.content {
    display: flex;
    align-items: center;
}
.img {
    border-radius: 50%;
    margin: 1em;
}
.name {
    font-size: 1.2em;
}