.flex {
    display: flex;
    align-items: center;
}
.flex p {
    margin: 0px 0px 0px 0.6em;
}
.container {
    width: 90%;
    margin: 1em auto;
}
.info {
    margin-top: 3em;
}
.title {
    margin-bottom: 1.7em;
}
.img {
    display: block;
    width: 65%;
    margin: 0em auto 6em auto;
    object-fit: contain;
}