@media screen and (min-width:320px){
    .container {
    position: relative;
    }
    .box {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1em;
    }
    .container_icon {
    position: relative;
    }
    .container_icon img{
        width: 100%;
    }
    .container_title {
    text-align: right;
    position: absolute;
    bottom:0em;
    right: 0em;
    color: #fff;
    background-color: #0505057c;
    width: 100%;
    font-weight: 800;
    }
    .container_title h4 {
    margin-right: 0.6em;
    }
    .description {
    font-weight: 600;
    font-size: 1em;
    margin-top: 0.2em;
    text-decoration: none !important;
    color: #000;
    }
    .link {
        text-decoration: none !important;
    }
    .dashed {
        filter: sepia(70%);
    }
}
@media screen and (min-width:576px) {
    .description {
        font-weight: 600;
        font-size: 1.2em;
        margin-top: 0.2em;
    }
    .description p {
        text-decoration: none !important;
        color: #000 !important;
    }
}