@media screen and (min-width:320px) {
    .container {
        margin-bottom: 5em;
        position: relative;
        overflow: hidden;
        }
        .img {
        width: 100%;
        margin-bottom: 0.7em;
        }
        .container_text {
            text-align: right;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            height: 100%; 
            width: 100%; 
            color: rgb(0, 0, 0);
        }
        .content_title {
        margin-bottom: 0.6em;
    }
        .title {
            margin-top: 0.2em;
            font-size: 1.6em;
        }
        .list {
        padding: 0px;
        list-style-type: none;
        margin: 0.5em auto 0em auto;
        text-align: left;
        width: 100%;
        }
        .list li {
        font-size: 1.1em;
        margin-bottom: 1em;
        }
        .cont_btn {
            display: flex;
            height: 100%;
            align-items: flex-end;
        } 
}
@media screen and (min-width:560px) {
    .img {
    width: 100%;
    }
    .title {
        margin-top: 0.2em;
        font-size: 2em;
    }
    .list {
        margin: 2em auto 0em auto;
        }
}
.container_text a {
    text-decoration: none;
    padding: 0.7em;
    margin-top: 0.5em;
}