.img {
width: 100%;
}
.container_text {
padding-top: 1.5em;
}
.container {
margin-bottom: 7em;
}
.container a {
    color: #000;
    font-size: 1.4em;
}
.container_text h1 {
font-size: 3em;
}
.container_text p {
font-size: 1.4em;
color: rgb(31, 31, 31);
margin-top: 2em;
}