@media screen and (min-width:320px) {
    .list {
        padding: 0em 1em;
        list-style-type: none;
        }
        .list li {
        padding: 1em 0em;
        }
        .container {
            margin-bottom: 5em;
        }
        .container h1 {
        margin-left: 0.5em;}
        .box {
            width: 96%;
            box-shadow: 1px 1px 4px #979797;
            padding: 1em;
        }
        .box h2 {
        font-size: 1.6em;}

        .margin_top_2em {
            margin-top: 0em !important;
            box-sizing: border-box;
        }
        .margin_top_3 {
            margin-top: 0em;
        }
        .perfil {
            display: flex;
            align-items: center;
            height: 100%;
        }
        .display_table {
        display: table !important;}
        .resposta {
            font-size: 1.2em;
            color: #646464;
        }
        .icon {
            font-size: 1.8em;
        }
        .name {
        background-color: #afafaf;
        height: 16px;
        width: 100px;
        margin: 0px 0px 0px 1em;
        }
}
@media screen and (min-width:576px) {
    .margin_top_3 {
        margin-top: -3em;
    }
    .margin_top_2em {
        margin-top: 2em !important;
        box-sizing: border-box;
    }
}