@media screen and (min-width:320px) {
    .container {
        padding: 1em;
    }
    .icon {
    font-size: 1.7em;
    font-weight: 100;
    }
    .list {
        list-style-type: none;
        padding: 0.6em;
    }
    .list a {
        text-decoration: none;
        color: #000;
        display: block;
        margin: 0.7em 0em 0.7em 1em;
        font-size: 1.1em;
    }
}
