@media screen and (min-width:320px) {
    .container {
        width: 70%;
        margin: 10em auto 0em auto;
    }
    .container a {
    text-decoration: none;
    color: #000;
}
    .input {
        width: 100%;
        border-radius: 10px;
        padding: 0.2em;
        border: 1px solid #e4e4e4;
    }
    .cont_options {
        margin: 2em auto;
        width: 90%;
    }
    .cont_options a {
    text-decoration: none;
    color: #000;
    }
    .list {
        padding: 1em;
        list-style-type: none;
        border: 1px solid #e4e4e4;
    }
    .list li  {
        font-size: 1.3em;
        padding: 0.3em 0em 0.7em 0em;
    }
    .container_icon {
        position: absolute;
        left: 0;
        top: 3.5em;
        font-size: 2em;
    }
    .query_input {
        font-weight: 600;
        font-size: 1.3em;
    }
}
@media screen and (min-width:576px) {
    .container {
        width: 50%;
    }
    .cont_options {
        width: 50%;
    }
}
